# This file is managed by Ansible
# /etc/hoststemp

{% for host in groups['webservers'] %}
{{ hostvars[host]['ansible_default_ipv4']['address'] }} {{ host }} {{ hostvars[host]['ansible_default_ipv4']['macaddress'] }}
{% endfor %}


